/** @format */

@media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
 }

 /* -----HEADER----- */
 .container.main-top {
  margin: 0 auto;
 }
 .site-nav .link.current {
  position: relative;
  color: var(--click-color);
 }
 .current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--click-color);
  border-radius: 2px;
 }
 .site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--site-nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .site-nav .link:hover,
 .site-nav .link:focus {
  color: var(--acsent);
 }
 .site-nav .link:active {
  color: var(--acsent);
 }

 .site-nav {
  display: flex;
  margin-left: 120px;
 }

 .site-nav .item:not(:last-child) {
  margin-right: 40px;
 }

 .auth-nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 24px;
  gap: 4px;
 }
 .top {
  display: flex;
  align-items: center;
 }

 .auth-nav .link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.04em;
  color: var(--auth-nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .auth-nav .link:hover,
 .auth-nav .link:focus {
  color: var(--acsent);
 }

 /* -----MOB-MENU------ */
 .menu-open-btn {
  display: none;
 }

 /*----HERO----- */
 .hero {
  padding-bottom: 108px;
  background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ),
   url('../images/index-foto/hero-bg-tab.jpg');
 }
 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
   background-image: linear-gradient(
     to right,
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)
    ),
    url('../images/index-foto/hero-bg-tab-2x.jpg');
  }
 }
 .hero-title {
  font-size: 56px;
  line-height: 1.071429;
 }

 /* section 1 */
 .main-about {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
 }
 .main-about .item {
  width: 356px;
 }
 .main-about .item:not(:last-child) {
  margin-bottom: 0;
 }
 .title-third-main {
  text-align: left;
 }

 /* section 3 */
 .section-third {
  padding: 96px 0;
 }
 .team {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  row-gap: 56px;
  justify-content: center;
 }

 /* Section 4 */
 .customers {
  padding: 96px 0;
 }
 .icons-customers {
  gap: 24px;
  justify-content: center;
 }
 .item-customer {
  width: 168px;
 }

 /* -----FOOTER------ */
 .footer-box {
  padding-left: 108px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
 }
 .footer-first-box {
  width: 264px;
  margin: 0;
 }
 .footer-social-box {
  margin: 0;
 }
 .footer-logo {
  justify-content: left;
 }
 .ftr-third-title {
  justify-content: left;
 }
 .subscribe {
  display: flex;
  gap: 24px;
 }
 .subscr-field {
  margin-bottom: 0;
 }
 .sub-input {
  width: 264px;
 }

 /* ---PORTFOLIO---- */
 .section-portfolio {
  padding-bottom: 96px;
 }
 .work-box-action .block {
  width: 356px;
  height: 300px;
 }
 .filter {
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 64px;
  justify-content: center;
 }
 .work-example {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
 }
}
